.Header {
    // padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 40px;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 40px;
}

.btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

