.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 40px;
    box-shadow: 0px 0px 5px #7e7e7e;
    margin-bottom: 20px;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 40px;
}

 

.btns {
    display: flex;
    align-items: center;
    gap: 20px;

    &__group {
        // gap: 0px;
        // background-color: aqua;
    }
}

