// @import './../variables.scss';

.Button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 10px 20px;
    user-select: none;
    max-width: 100%;

     // min-height: var(--vkui--size_button_small_height--compact);
    // border-radius: var(--vkui--size_border_radius--regular);
    // min-width: var(--vkui--size_button_minimum_width--regular);
    // font-family: var(--vkui--font_family_base); 
  }

  // HELPERS
  .Button__in {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    // text-align: center;
    // box-sizing: border-box;
  }

  .Button__content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .Button__after {

  }

  // SIZE 
  .Button--size-s {
    font-size: 16px;
    border-radius: 6px;
  }

  .Button--size-m {
    font-size: 20px;
    border-radius: 8px;
  }

  .Button--size-l {
    font-size: 24px;
    border-radius: 10px;
  }


  // MODE
  .Button--mode-primary {
    // background-color: var(--button-bg);
    color: #fff;
    transition: var(--button-transition);

    &.Button--appearance-accent {
      background-color: var(--button-bg);

      &:hover {
        background-color: var(--button-bg-hover);
      }
    }

    &.Button--appearance-positive {
      background-color: var(--button-bg-positive);

      &:hover {
        background-color: var(--button-bg-hover-positive);
      }
    } 
  }

   .Button--mode-outline {
    // border: 2px solid var(--button-border);
    background-color: transparent;
    // color: var(--button-color);
    transition: var(--button-transition);

    &.Button--appearance-accent {
      border: 2px solid var(--button-border);
      color: var(--button-color);
      &:hover {
        background-color: var(--gray);
      }
    }

    &.Button--appearance-positive {
      border: 2px solid var(--button-border-positive);
      color: var(--button-color-positive);
      &:hover {
        background-color: var(--gray);
      }
    }

    // &:hover {
    //     background-color: var(--button-bg-hover-outline);
    // }
  } 

  // Appearance
  // .Button--appearance-positive {

  // }

  // Stretched
  .Button--stretched {
    display: block;
    width: 100%;
  }

