:root {
    --gray: rgb(245, 245, 245);
    --button-bg: rgb(239, 172, 48);
    --button-bg-hover: rgb(222, 163, 52);
    
    --button-bg-hover-outline: rgb(250, 250, 250);
    --button-border: rgb(239, 172, 48);
    --button-color: rgb(239, 172, 48);

    --button-bg-positive: rgb(60, 178, 60);
    --button-color-positive: rgb(60, 178, 60);
    --button-border-positive: rgb(60, 178, 60);
    --button-bg-hover-positive: rgb(70, 152, 70);

    --button-transition: all .3s ease-in;
    --main-color: #109070;
  }